In [2]:
pip install mlxtend

Collecting mlxtend
  Downloading mlxtend-0.23.4-py3-none-any.whl.metadata (7.3 kB)
Requirement already satisfied: scipy>=1.2.1 in /opt/anaconda3/lib/python3.12/site-packages (from mlxtend) (1.13.1)
Requirement already satisfied: numpy>=1.16.2 in /opt/anaconda3/lib/python3.12/site-packages (from mlxtend) (1.26.4)
Requirement already satisfied: pandas>=0.24.2 in /opt/anaconda3/lib/python3.12/site-packages (from mlxtend) (2.2.2)
Requirement already satisfied: scikit-learn>=1.3.1 in /opt/anaconda3/lib/python3.12/site-packages (from mlxtend) (1.5.1)
Requirement already satisfied: matplotlib>=3.0.0 in /opt/anaconda3/lib/python3.12/site-packages (from mlxtend) (3.9.2)
Requirement already satisfied: joblib>=0.13.2 in /opt/anaconda3/lib/python3.12/site-packages (from mlxtend) (1.4.2)
Requirement already satisfied: contourpy>=1.0.1 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib>=3.0.0->mlxtend) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib>=3.0.0->mlxtend) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib>=3.0.0->mlxtend) (24.1)
Requirement already satisfied: pillow>=8 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib>=3.0.0->mlxtend) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib>=3.0.0->mlxtend) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib>=3.0.0->mlxtend) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas>=0.24.2->mlxtend) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas>=0.24.2->mlxtend) (2023.3)
Requirement already satisfied: threadpoolctl>=3.1.0 in /opt/anaconda3/lib/python3.12/site-packages (from scikit-learn>=1.3.1->mlxtend) (3.5.0)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)
Downloading mlxtend-0.23.4-py3-none-any.whl (1.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.4/1.4 MB 2.2 MB/s eta 0:00:00a 0:00:01
Installing collected packages: mlxtend
Successfully installed mlxtend-0.23.4
Note: you may need to restart the kernel to use updated packages.

In [4]:
import warnings
warnings.filterwarnings('ignore') # We can suppress the warnings

In [6]:
# # Create an array named as 'dataset' comprised of transactions
# dataset = [['Milk', 'Eggs', 'Bread'],
# ['Milk', 'Eggs'],
# ['Milk', 'Bread'],
# ['Eggs', 'Apple']]

In [24]:
# Create an array named as 'dataset' comprised of transactions
dataset1 = [
['Bread', 'Milk'],
['Beer', 'Bread', 'Diaper', 'Eggs'],
['Beer', 'Coke', 'Diaper','Milk'],
['Beer', 'Bread', 'Diaper', 'Milk'],
['Bread', 'Coke', 'Diaper', 'Milk']
]

In [26]:
# Display the records
print(dataset1)

[['Bread', 'Milk'], ['Beer', 'Bread', 'Diaper', 'Eggs'], ['Beer', 'Coke', 'Diaper', 'Milk'], ['Beer', 'Bread', 'Diaper', 'Milk'], ['Bread', 'Coke', 'Diaper', 'Milk']]

In [30]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

# Create an object te by calling a method TransactionEncoder()
te = TransactionEncoder()

# Call fit() method to train the model
te_array1 = te.fit(dataset1).transform(dataset1)

# Transform te_array into dataframe
df1 = pd.DataFrame(te_array1, columns = te.columns_)

In [32]:
df1.head()

    Beer  Bread   Coke  Diaper   Eggs   Milk
0  False   True  False   False  False   True
1   True   True  False    True   True  False
2   True  False   True    True  False   True
3   True   True  False    True  False   True
4  False   True   True    True  False   True

In [34]:
from mlxtend.frequent_patterns import apriori

# Calculate the sfrequenct itemsets by calling a method apriori
frequent_itemsets_ap = apriori(df1, min_support = 0.01, use_colnames = True)

In [36]:
print(frequent_itemsets_ap)

    support                     itemsets
0       0.6                       (Beer)
1       0.8                      (Bread)
2       0.4                       (Coke)
3       0.8                     (Diaper)
4       0.2                       (Eggs)
5       0.8                       (Milk)
6       0.4                (Bread, Beer)
7       0.2                 (Coke, Beer)
8       0.6               (Diaper, Beer)
9       0.2                 (Eggs, Beer)
10      0.4                 (Milk, Beer)
11      0.2                (Coke, Bread)
12      0.6              (Diaper, Bread)
13      0.2                (Eggs, Bread)
14      0.6                (Milk, Bread)
15      0.4               (Diaper, Coke)
16      0.4                 (Milk, Coke)
17      0.2               (Diaper, Eggs)
18      0.6               (Milk, Diaper)
19      0.4        (Diaper, Bread, Beer)
20      0.2          (Eggs, Bread, Beer)
21      0.2          (Milk, Bread, Beer)
22      0.2         (Diaper, Coke, Beer)
23      0.2           (Milk, Coke, Beer)
24      0.2         (Diaper, Eggs, Beer)
25      0.4         (Milk, Diaper, Beer)
26      0.2        (Diaper, Coke, Bread)
27      0.2          (Milk, Coke, Bread)
28      0.2        (Diaper, Eggs, Bread)
29      0.4        (Milk, Diaper, Bread)
30      0.4         (Milk, Diaper, Coke)
31      0.2  (Diaper, Eggs, Bread, Beer)
32      0.2  (Milk, Diaper, Bread, Beer)
33      0.2   (Milk, Diaper, Coke, Beer)
34      0.2  (Milk, Diaper, Coke, Bread)

In [38]:
from mlxtend.frequent_patterns import association_rules

rules = association_rules(frequent_itemsets_ap, metric = 'confidence',
                          min_threshold = 0.0001)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(Bread),(Beer),0.8,0.6,0.4,0.500000,0.833333,1.0,-0.08,0.800000,-0.500000,0.400000,-0.250000,0.583333
1,(Beer),(Bread),0.6,0.8,0.4,0.666667,0.833333,1.0,-0.08,0.600000,-0.333333,0.400000,-0.666667,0.583333
2,(Coke),(Beer),0.4,0.6,0.2,0.500000,0.833333,1.0,-0.04,0.800000,-0.250000,0.250000,-0.250000,0.416667
3,(Beer),(Coke),0.6,0.4,0.2,0.333333,0.833333,1.0,-0.04,0.900000,-0.333333,0.250000,-0.111111,0.416667
4,(Diaper),(Beer),0.8,0.6,0.6,0.750000,1.250000,1.0,0.12,1.600000,1.000000,0.750000,0.375000,0.875000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149,"(Coke, Bread)","(Milk, Diaper)",0.2,0.6,0.2,1.000000,1.666667,1.0,0.08,inf,0.500000,0.333333,1.000000,0.666667
150,(Milk),"(Diaper, Coke, Bread)",0.8,0.2,0.2,0.250000,1.250000,1.0,0.04,1.066667,1.000000,0.250000,0.062500,0.625000
151,(Diaper),"(Milk, Coke, Bread)",0.8,0.2,0.2,0.250000,1.250000,1.0,0.04,1.066667,1.000000,0.250000,0.062500,0.625000
152,(Coke),"(Milk, Diaper, Bread)",0.4,0.4,0.2,0.500000,1.250000,1.0,0.04,1.200000,0.333333,0.333333,0.166667,0.500000
153,(Bread),"(Milk, Diaper, Coke)",0.8,0.4,0.2,0.250000,0.625000,1.0,-0.12,0.800000,-0.750000,0.200000,-0.250000,0.375000

In [42]:
rules.to_csv("lecture_dataset.csv")